<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" [routerLink]="[ 'customer/new' ]">
      	<span>
            <fa-icon icon="user"></fa-icon>
            <span jhiTranslate="creditApp.customer.detail.title">Customer</span>
        </span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/', { outlets: { step: 'customer/new'} }]">
      	<span>
            <fa-icon icon="home"></fa-icon>
            <span jhiTranslate="creditApp.address.home.title">Addresses</span>
        </span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/', { outlets: { step: 'customer/new'} }]">
      	<span>
            <fa-icon icon="phone"></fa-icon>
            <span jhiTranslate="creditApp.telephoneNumber.home.title">Telephones</span>
        </span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/', { outlets: { step: 'customer/new'} }]">
      	<span>
            <fa-icon icon="person-booth"></fa-icon>
            <span jhiTranslate="creditApp.personalReference.home.title">Personal References</span>
        </span>
      </a>
    </li>
  </ul>
</nav>