<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-fee-heading" jhiTranslate="creditApp.bankMsFee.home.createOrEditLabel">Create or edit a Fee</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="creditApp.bankMsFee.mnemonic" for="field_mnemonic">Mnemonic</label>
                    <input type="text" class="form-control" name="mnemonic" id="field_mnemonic"
                           formControlName="mnemonic"/>
                    <div *ngIf="editForm.get('mnemonic').invalid && (editForm.get('mnemonic').dirty || editForm.get('mnemonic').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('mnemonic').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('mnemonic').errors.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 10 }">
                        This field cannot be longer than 10 characters.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('mnemonic').errors.pattern" jhiTranslate="entity.validation.pattern" [translateValues]="{ pattern: 'Mnemonic' }">
                            This field should follow pattern for "Mnemonic".
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="creditApp.bankMsFee.name" for="field_name">Name</label>
                    <input type="text" class="form-control" name="name" id="field_name"
                           formControlName="name"/>
                    <div *ngIf="editForm.get('name').invalid && (editForm.get('name').dirty || editForm.get('name').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('name').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('name').errors.minlength" jhiTranslate="entity.validation.minlength" [translateValues]="{ min: 1 }">
                        This field is required to be at least 1 characters.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('name').errors.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 30 }">
                        This field cannot be longer than 30 characters.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('name').errors.pattern" jhiTranslate="entity.validation.pattern" [translateValues]="{ pattern: 'Name' }">
                            This field should follow pattern for "Name".
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="creditApp.bankMsFee.description" for="field_description">Description</label>
                    <input type="text" class="form-control" name="description" id="field_description"
                           formControlName="description"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="creditApp.bankMsFee.interestRate" for="field_interestRate">Interest Rate</label>
                    <input type="number" class="form-control" name="interestRate" id="field_interestRate"
                           formControlName="interestRate"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="creditApp.bankMsFee.uniqueValue" for="field_uniqueValue">Unique Value</label>
                    <input type="number" class="form-control" name="uniqueValue" id="field_uniqueValue"
                           formControlName="uniqueValue"/>
                </div>

                <div class="form-group">
                    <label jhiTranslate="creditApp.bankMsFee.product" for="field_products">Product</label>
                    <select class="form-control" id="field_products" multiple name="products" formControlName="products">
                        <option [ngValue]="getSelected(editForm.get('products').value, productOption)" *ngFor="let productOption of products; trackBy: trackProductById">{{productOption.id}}</option>
                    </select>
                </div>
                <div *ngIf="editForm.get('products').invalid && (editForm.get('products').dirty || editForm.get('products').touched)">
                    <small class="form-text text-danger"
                           *ngIf="editForm.get('products').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
